{% extends "core/base.html" %}

{% block title %}Catálogo de Libros{% endblock %}

{% block content %}
<h1 class="mb-4">Catálogo de EcoLibrary</h1>

<div class="row">
    {% for libro in libros %}
    <div class="col-md-4 mb-4">

        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'detalle_libro' pk=libro.pk %}">{{ libro.titulo }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Autor: {{ libro.autor }}</h6>
                <p class="card-text text-truncate">{{ libro.descripcion }}</p>
                <a href="{% url 'detalle_libro' pk=libro.pk %}" class="btn btn-sm btn-outline-success">Ver Detalle</a>
            </div>
        </div>
    </div>
    {% empty %}

    <div class="col-12">
        <div class="alert alert-warning">No hay libros disponibles en el catálogo.</div>
    </div>
    {% endfor %}
</div>
{% endblock %}